.pfp {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 15px;
  border-radius: 50%;
}
.commenthead{
  width:100%;
  display: flex;
}
.comment {
  display: block;
  font-family: system-ui, sans;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  min-width:fit-content
}


.node {
  margin-left: 20px;
  position: relative;
}

.comment:before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  /* border-left: hsla(0, 0%, 0%, 0.5); */

}

.subtree {
  font-family: system-ui, sans;
  margin-top: 10px;
  position: relative;
  margin-left: 15px;
  margin-top: 10px;
  height: 100%;
  border-left: 1px solid rgba(0,0,0,0.5);
  
  /* min-width: 100px; */
  /* display: inline-block */
}


.comment p {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
  margin: 0;
  /* width: 55%; */
  flex:1
}

.comment .info {
  /* text-align: right; */
  width: 80%;
  line-height: 0.8em;
  display: flex;
  align-items: center;
}

.username {
  font-size: small;
  padding: 4px 0;
}

.quote {
  border-left: 2px solid white;
  margin-left: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
}

.comment .info span {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 10px;

}

.comments {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
  .comment .info {
    order: 2;
    width: 50%;
    text-align: left;
  }

  .pfp {
    order: 1;
    margin: 0 15px 0 0;
  }

  .comment {
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .comment p {
    order: 3;
    margin-top: 10px;
    width: 100%;
  }
}