body {
    margin: 0;
    padding: 0;
    background-color: rgb(42, 14, 59);
    color: #eaeaea;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
}
.language-button {
    position: relative;
    top: 0;
    right: 0;
 
  }

/* General & 'Reset' Stuff Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;*/
.markdown {
    overflow: hidden;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.text_container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

section {
    display: block;
    margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
}

li {
    line-height: 1.4 ;
    padding-bottom: 10px;
}

header {
    width: 100%;
}

header h1 {
    max-width: 1000px;
    font-size: 30px;
    line-height: 1.5;
    margin: 0 0 0 -40px;
    margin-left: 0;
    font-weight: bold;
    color: #fa7a0b;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}


header h2 {
    font-size: 18px;
    font-weight: 300;
    color: #666;
}

#downloads .btn {
    display: inline-block;
    text-align: center;
    margin: 0;
}

/* Main Content
*/

#main_content {
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
section img {
    max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #fa7a0b;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
    font-size: 30px;
}

#main_content h2 {
    font-size: 24px;
}

#main_content h3 {
    font-size: 18px;
}

#main_content h4 {
    font-size: 14px;
}

#main_content h5 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

#main_content h6 {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    margin: 0 0 5px 0;
}

dt {
    font-style: italic;
    font-weight: bold;
}

ul li {
    list-style-image:url('images/bullet_btc.png');
}

blockquote {
    color: #aaa;
    padding-left: 10px;
    border-left: 1px dotted #666;
}

pre {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
    font-size: 16px;
    color: #fa7;
    border-radius: 2px;
    word-wrap: normal;
    overflow: auto;
    overflow-y: hidden;
}

code.highlighter-rouge {
    background: rgba(0,0,0,0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0px 3px;
    margin: 0px -3px;
    color: #aa759f;
    border-radius: 2px;
}

table {
    width: 100%;
    margin: 0 0 20px 0;
}

th {
    text-align: left;
    border-bottom: 1px dashed #fa7a0b;
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
}

hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed #fa7a0b;
    color: #fa7a0b;
}

/* Buttons
*/

.btn {
    display: inline-block;
    background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
    padding: 8px 18px;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    border-top: 2px solid rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.8);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
    background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 8px 0 0;
    float: left;
}

.btn-github .icon {
    opacity: 0.6;
    background: url("images/blacktocat.png") 0 0 no-repeat;
}

a {
    color: #fa7a0b;
    text-shadow: 0 0 5px rgba(0, 255, 149, 0.37);
}

/* Clearfix */

.cf:before, .cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

.cf {
    zoom:1;
}

#a-title {
    text-decoration: none;
}
.images-center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-bottom: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.select {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-bottom: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#header_image {
    display: block;
    position: relative;
    z-index: 11;
    width: 100%;
    aspect-ratio: 1393/484;

    background-image: url("images/head_nstr.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.headbox {
    position: relative;
    top: 0px;
    left:0;
    z-index: 10;
    width: 100%;
    /*aspect-ratio: 17/8;*/
}

.overlay {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
    z-index: 12;
}

.headlinks {
    font-size: 18px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 12;
}

@media (max-width: 800px) {
    .headlinks {
        position: relative;
        font-size: 14px;
    }
    .images-center {
        width: 70%;
    }
    .center {
        width: 70%;
    }
    .overlay {
        bottom: 10px;
    }
}

@media (max-width: 700px) {
    .overlay {
        bottom: 2px;
    }
}


@media (max-width: 520px) {
    .overlay {
        bottom: 4px;
    }
    .smalltext {
        display: none;
    }
}

@media (max-width: 500px) {
    .images-center{
        width: 100%;
    }
    .center {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .overlay {
        bottom: 2px;
    }
    .smalltext {
        display: none;
    }
}

@media (max-width: 360px) {
    .overlay {
        bottom: -6px;
    }
    .smalltext {
        display: none;
    }
}